/********** FONT IMPORT **********/
@font-face {
    font-family: "SourceSansPro Regular";
    src: url(./resources/fonts/sourcesanspro-regular.otf);
}

/********** RESET CSS **********/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

/********** GENERAL **********/
body {
    font-family: "SourceSansPro Regular", sans-serif;
    color: #ffffff;
    background-color: #071629;
}

/********** HEADER **********/
header {
    max-width: 1100px;
    height: 30px;
    margin: 35px auto;
}

#nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 235px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    text-transform: uppercase;
    color: #ffffff;
}

nav a:hover {
    text-decoration: underline;
}