/********** FONT IMPORT **********/
@font-face {
    font-family: "SourceSansPro Light";
    src: url(./resources/fonts/sourcesanspro-light.otf);
}

@font-face {
    font-family: "SourceSansPro Regular";
    src: url(./resources/fonts/sourcesanspro-regular.otf);
}

@font-face {
    font-family: "SourceSansPro Black";
    src: url(./resources/fonts/sourcesanspro-black.otf);
}

/********** RESET CSS **********/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

/********** GENERAL **********/
body {
    font-family: "SourceSansPro Regular", sans-serif;
    color: #ffffff;
    background-image: url(./resources/images/background.png);
    background-size: auto;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Can be disabled, non compliant, just for style ;) */
    background-color: #0a1627;
}

main {
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

h1 {
    font-family: "SourceSansPro Light", sans-serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 40px;
}

h1 span {
    font-family: "SourceSansPro Regular", sans-serif;
    font-weight: 700;
    color: #c271ff;
}

button {
    padding: 15px 20px;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    background-color: #c271ff;
    box-shadow: 0px 2px 20px 0px #00000080;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}

.italic {
    font-style: italic;
}

/********** HEADER **********/
header {
    width: 1100px;
    height: 30px;
    margin: 35px auto;
}

#nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 235px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    text-transform: uppercase;
    color: #ffffff;
}

nav a:hover {
    text-decoration: underline;
}

/********** BANNER SECTION **********/
#banner {}

/* Banner title block */
#banner_title_container {
    padding-top: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#banner_title_container h1 {
    font-family: "SourceSansPro Black", sans-serif;
    font-size: 120px;
    font-weight: 700;
    line-height: 150px;
}

#banner_title_container p {
    width: 300px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

/* Banner pros block */
#banner_pros_container {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#banner_pros_container h2 {
    font-family: "SourceSansPro Light", sans-serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 40px;
}

#banner_pros_container h2 span {
    font-family: "SourceSansPro Regular", sans-serif;
    font-weight: 700;
    color: #c271ff;
}

#banner_pros_infos_container {
    width: 1000px;
    margin-top: 125px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.banner_pros_infos {
    text-align: center;
}

.banner_pros_infos img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.banner_pros_infos h3 {
    font-size: 18px;
    font-weight: 900;
    line-height: 25px;
}

.banner_pros_infos p {
    font-family: "SourceSansPro Light", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    font-style: italic;
}

/********** QUOTE SECTION **********/
#quote {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c271ff;
}

/* Hidden h1 to pass W3C htmml validator */
#quote h1 {
    display: none;
}

#quote_container {
    width: 900px;
    height: 160px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
}

#quote_container img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

#quote_infos_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#quote_infos_container blockquote {
    font-family: "SourceSansPro Light", sans-serif;
}

#quote_infos_container p {
    font-weight: 700;
}

#quote_infos_container p.italic {
    font-family: "SourceSansPro Light", sans-serif;
    font-weight: 500;
}

/********** VIDEOS SECTION **********/
#videos {
    width: 100%;
    margin: auto;
    padding: 75px;
    color: #071629;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

#videos_container {
    padding: 75px 75px 0 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.solo_video_container {
    width: 255px;
    height: 335px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.video {
    position: relative;
    cursor: pointer;
}

.video img {
    display: block;
    border-radius: 5px 5px 0 0;
}

.video::after {
    content: url("./resources/images/play-button.svg");
    position: absolute;
    top: 50%;
    left: 50%;
    width: 64px;
    height: 64px;
    transform: translate(-50%, -50%);
}

.solo_video_container h2 {
    padding: 0 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.solo_video_container p {
    padding: 0 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: justify;
    color: rgb(132 138 147);
}

.video_creator_container {
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.video_creator_container img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.video_creator_container h3 {
    margin-left: 15px;
    font-family: "SourceSansPro Light", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 27px;
    color: #c271ff;
}

.stats_container {
    width: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.stats_container p {
    font-family: "SourceSansPro Light", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 27px;
    color: #c271ff;
}

.star {
    width: 15px;
    height: 15px;
    color: #c271ff;
}

.star.empty {
    color: #dddddd;
}

/********** MEMBERSHIP SECTION **********/
#membership {
    width: 100%;
    height: 500px;
    padding: 75px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #071629;
}

#membership_container {
    padding: 75px 0 60px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.membership_infos {
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.membership_infos p {
    width: 200px;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

/********** FAQ SECTION **********/
#faq {
    padding: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #071629;
    background-color: #ffffff;
}

#faq h1 {
    font-size: 60px;
    font-weight: 300;
    line-height: 75px;
}

#faq_container {
    width: 900px;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 75px;
}

.faq_infos_container {
    display: flex;
    gap: 220px;
}

.faq_infos {
    width: 350px;
}

.faq_infos h2 {
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.faq_infos p {
    font-family: "SourceSansPro Light", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

/********** FOOTER **********/
footer {
    width: 100%;
    height: 250px;
    background-color: #071629;
}